@import "../variables.scss";

.Container {
  position: relative;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 140px 16px 140px 16px;
  color: $black;
  background-color: $background;

  @media screen and (min-width: 360px) {
    max-width: 360px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 140px 32px 140px 32px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 2560px) {
    max-width: 1168px;
    padding-left: 0;
    padding-right: 0;
  }
}

.List {
  display: grid;
  grid-template-columns: 328px;
  gap: 20px;
  justify-items: center;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 344px 344px;
    gap: 16px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 282px 282px 282px;
    gap: 29px;
  }
  @media screen and (min-width: 2560px) {
    margin: 0 auto;
    grid-template-columns: 370px 370px 370px;
    gap: 29px;
  }
}
.Title {
  padding-bottom: 50px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}
.Item {
  padding: 20px;
  width: 328px;
  background-color: #fff;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 344px;
  }

  @media screen and (min-width: 1024px) {
    width: 282px;
  }
  @media screen and (min-width: 2560px) {
    width: 370px;
  }
}
.Img {
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 20px;
  width: 70px;
  height: auto;
  background-size: contain;
  object-fit: cover;
  border-radius: 50%;
}
.Name {
  display: block;
  cursor: pointer;
  &:first-of-type {
    margin-bottom: 20px;
  }
}
.Btn {
  display: flex;
  justify-content: center;
}
.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
